.main-content {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 1px solid #DAD4EF;
}

#contact,
#contact:visited {
    color: #37393A;
    text-decoration: none;
}
#contact:hover {
    color: #DAD4EF;
}
