.custom-nav,
.navbar-nav,
.collapse {
    background-color: #F7F7F7;
}

.nav-link {
    color: #7DA2A9;
}

.nav-link:hover {
    color: #37393A;
}

#myName {
    font-family: 'Montserrat', sans-serif;
    color: #7DA2A9;
    font-size: 40px;
}