.custom-nav,
.navbar-nav,
.collapse {
    background-color: #A7C4A0;
}

.nav-link {
    color: #DAD4EF;
}

.nav-link:hover {
    color: #37393A;
}

#myName {
    font-family: 'Montserrat', sans-serif;
    color: #DAD4EF;
    font-size: 30px;
}