html,
body {
  margin: 0;
  padding: 0;
  background-color: #f8dfdb;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  color: #37393A; 
}

h2, h1 {
  color: #2E303E;
  font-family: 'Cormorant Garamond', serif;
}

a:hover {
  color: #FC7C7C;
  text-decoration: none;
}