html,
body {
  margin: 0;
  background-color: #A7C4A0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #37393A; 
}

h2, h1 {
  color: #2E303E;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #DAD4EF;
  text-decoration: none;
}

.custom-button {
  background-color: #37393A;
  color: #E0E0E2;
  border: none;
  margin: 0 2%;
}

.custom-button:hover {
  background-color: #DAD4EF;
}